body {
  padding: 10px;
}

.cities {
  max-width: 700px;
  height: 1500px;
  border: 2px solid green;
  margin: 50px auto;
}

.names {
  max-width: 400px;
  height: 1000px;
  border: 2px solid red;
  margin: 100px auto;
}

.names div {
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

.name__1 {
  background-color: darkturquoise;
}

.name__2 {
  background-color: chartreuse;
} 

.name__3 {
  background-color: darkblue;
}

.name__4 {
  background-color: rgb(196, 68, 17);
}

.name__5 {
  background-color: rgb(185, 52, 141);
}

.name__6 {
  background-color: rgb(89, 89, 163);
}

.name__7 {
  background-color: rgb(0, 139, 19);
}

.name__8 {
  background-color: rgb(255, 219, 15);
}
