body {
  padding: 30px;
}

p {
  margin: 0 0 50px;
}

p::first-line {
  color: chartreuse;
}

p::first-letter {
  color: blue;
  font-size: 50px;
}

.list {
  width: 115px;
}

.list li {
  margin: 0 0 10px;
  font-size: 20px;
}

.list li::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: crimson;
  display: inline-block;
  margin: 0 5px 0 0;
  position: relative;
  top: -2px;
}

.list li::after {
  content: '';
  width: 105px;
  border: 3px solid black;
  display: block;
}

.list li:hover::before {
  background-color: black;  
}

.list li:hover::after {
  border-bottom: 3px solid crimson;
}

