body {
  padding: 20px;
}

a {
  text-decoration: none;
}

.list li {
  list-style: none;
  font-size: 20px;
  margin: 0 0 20px;
}

.text-input {
  margin: 0 0 20px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.text-input:focus {
  box-shadow: 0 0 10px rgb(158, 149, 149);
}

.text-btn {
  display: block;
  width: 265px;
  height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: crimson;
  cursor: pointer;
  border: 1px solid rgb(161, 161, 161);
}

.text-btn:hover {
  background-color: brown;
}

.text-btn:active {
  background-color: chartreuse;
  border: none;
}
