body {
  padding: 50px;
}

.btn {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: gold;
  cursor: pointer;
  position: relative;
}

.btn::after {
  content: "";
  background-image: url('/free-icon-direction-arrow-4723461\ \(1\).png');
  top: 0;
  left: 0;
  background-size: 25px;
  background-color: black;
  position: relative;
  background-repeat: no-repeat;
}